APP_PORT=8081
DB_DIALECT=postgres

DB_NAME=pawka_dev
DB_USER=postgres
DB_PASS=admin           
NODE_ENV=development
JWT_SECRET=mysecret
JWT_ACCESS_TOKEN_EXPIRATION=2d
  

APP_URL=http://37.59.98.93:8000
DB_HOST=37.59.98.93
DB_PORT=3000
