APP_PORT=8081

DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=pawka_dev
DB_USER=postgres
DB_PASS=            # your postgre password
NODE_ENV=development

JWT_SECRET=mysecret
JWT_ACCESS_TOKEN_EXPIRATION=2d
